.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.footer {
    padding: 10px;
    text-align: center;
    float: left;
    width: 100%;
    background: #bfbebe;
}

.column {
    float: left;
    width: 32%;
    padding: 5px;
}

a {
    color: #f1f1f1;
    text-decoration: none;
}

.container {
    float: left;
    width: 100%;
    min-height: 500px;
}

.content {
    width: 94%;
    margin: 0px auto;
    padding: 30px;
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* NEW */
}

.categories_item a {
    color: white;
}

.categories_item {
    flex: 1 0 25%; /* NEW */
    margin: 5px; /* NEW */
    background-color: #606068ed;
    padding: 20px;
}

.activity-thumbnail {
    width: 100%;
    height: auto;
    float: left;
    max-width: 300px;
}